services:
  - type: web
    name: movie-recommender-api
    env: python
    plan: free
    runtime: python-3.10.13
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
    autoDeploy: false
